@import 'tailwindcss';

:root {
  --background: #222222;
  --foreground: #dddddd;
  --highlight: #eeeeee;
  --surface: #303030;
  --muted: #bbbbbb;
  --border: #3a3a3a;
  --primary: #40a2e4;
  --primary-hover: #00b5ff;
  --secondary: #0081c0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-highlight: var(--highlight);
  --color-surface: var(--surface);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter), sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
    letter-spacing: 0.005em;
    line-height: 1.6;
  }
  button {
    @apply cursor-pointer;
  }
  a {
    @apply inline-block cursor-pointer;
  }
}

@layer components {
  .nav-link {
    @apply text-foreground hover:text-highlight hover:bg-surface/75 relative w-full rounded-sm px-5 py-4 text-base;
  }
  .nav-link-active {
    @apply text-primary hover:text-primary after:border-primary after:absolute after:-bottom-px after:left-0 after:h-px after:w-full after:border-b-0 lg:after:border-b;
  }
  .overlay {
    @apply fixed inset-0 h-dvh w-dvw bg-black/75 transition-opacity duration-300 ease-in-out;
  }
}

@layer utilities {
  .text-gradient {
    @apply from-foreground to-primary bg-linear-to-b bg-size-[100%_250%] bg-clip-text text-transparent;
  }
  .show {
    @apply pointer-events-auto opacity-100;
  }
  .hide {
    @apply pointer-events-none opacity-0;
  }
}
