@import 'tailwindcss';

:root {
  --background: #1a1a1a;
  --surface-1: #252525;
  --surface-2: #333333;
  --surface-3: #403f40;
  --highlight: #f0f0f0;
  --primary: #dddddd;
  --secondary: #ccc8cc;
  --muted: #b8b4b8;
}

@theme inline {
  --color-background: var(--background);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-highlight: var(--highlight);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter), sans-serif;
  --breakpoint-2xl: 90rem; /* 1440px */
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
    letter-spacing: 0.005em;
    line-height: 1.6;
  }
  button {
    @apply cursor-pointer text-base outline-none;
  }
  a {
    @apply text-primary inline-block cursor-pointer no-underline outline-none;
  }
}

@layer components {
  .nav-link {
    @apply hover:text-highlight relative w-full px-5 py-4 text-base transition-colors duration-200 ease-in-out;
  }
  .nav-link-active {
    @apply text-highlight bg-surface-1 after:border-muted lg:after:border-primary rounded-r-lg after:absolute after:bottom-0 after:left-0 after:size-full after:border-l-3 lg:bg-transparent lg:after:border-b-3 lg:after:border-l-0;
  }
  .overlay {
    @apply fixed inset-0 h-dvh w-dvw bg-black/75 transition-opacity duration-300 ease-in-out;
  }
  .gradient-overlay {
    @apply to-background pointer-events-none absolute from-transparent;
  }
  .primary-btn {
    @apply bg-primary hover:bg-highlight border-background text-background rounded-lg border px-3.5 py-2.5 font-medium whitespace-nowrap transition-colors duration-200 ease-in-out;
  }
  .secondary-btn {
    @apply bg-background/50 hover:bg-surface-2/50 border-primary rounded-lg border px-2.5 py-2.5 font-medium whitespace-nowrap transition-colors duration-200 ease-in-out;
  }
  .carousel-section {
    @apply relative mx-auto flex w-full max-w-[1440px] flex-col gap-6 px-4 sm:px-6 lg:px-8;
  }
  .carousel-heading {
    @apply text-lg leading-none font-semibold lg:text-xl;
  }
  .carousel-btn {
    @apply bg-background/50 border-primary hover:bg-surface-2/50 absolute top-1/2 hidden h-16 w-12 -translate-y-1/2 items-center justify-center rounded-lg border transition duration-200 ease-in-out lg:flex;
  }
}

@layer utilities {
  .max-w-content {
    max-width: 1440px;
  }
  .show {
    @apply pointer-events-auto opacity-100;
  }
  .hide {
    @apply pointer-events-none opacity-0;
  }
  .text-gradient {
    @apply from-highlight to-muted bg-linear-to-b bg-size-[100%_150%] bg-clip-text text-transparent;
  }
}
