@import 'tailwindcss';

:root {
  --background: #1a1a1a;
  --surface-1: #252525;
  --surface-2: #333333;
  --surface-3: #403f40;
  --highlight: #f0f0f0;
  --primary: #dddddd;
  --secondary: #ccc8cc;
  --muted: #a3a0a3;
}

@theme inline {
  --color-background: var(--background);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);
  --color-highlight: var(--highlight);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --font-sans: var(--font-inter), sans-serif;
  --breakpoint-2xl: 90rem; /* 1440px */
  --breakpoint-xs: 30rem; /* 480px */
  --animate-shimmer: shimmer 2.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased;
    letter-spacing: 0.005em;
    line-height: 1.6;
  }
  button {
    @apply inline-block cursor-pointer text-base outline-none;
  }
  a {
    @apply text-primary inline-block cursor-pointer text-base no-underline outline-none;
  }
  img {
    @apply select-none;
  }
}

@layer components {
  .nav-link {
    @apply hover:text-highlight w-full py-4 font-medium transition-colors duration-200 ease-in-out;
  }
  .subnav-link {
    @apply hover:text-highlight bg-surface-2 rounded-lg px-3 py-2 text-sm whitespace-nowrap transition-colors duration-200 ease-in-out;
  }
  .subnav-link-active {
    @apply bg-primary text-background hover:text-background;
  }
  .overlay {
    @apply fixed inset-0 h-dvh w-dvw bg-black/75 transition-opacity duration-300 ease-in-out;
  }
  .gradient-overlay {
    @apply to-background pointer-events-none absolute from-transparent;
  }
  .primary-btn {
    @apply bg-primary hover:bg-highlight border-background text-background rounded-lg border font-medium whitespace-nowrap transition-colors duration-200 ease-in-out;
  }
  .secondary-btn {
    @apply bg-background/50 hover:bg-surface-2/50 border-primary rounded-lg border px-2.5 py-2.5 font-medium whitespace-nowrap transition-colors duration-200 ease-in-out;
  }
  .favorite-cta {
    @apply bg-primary hover:bg-highlight border-background text-background block rounded-lg border px-4 py-3 text-sm font-medium whitespace-nowrap transition-colors duration-200 ease-in-out lg:px-5 lg:text-base;
  }
  .image-cover {
    @apply block object-cover object-center;
  }
  .carousel-px-layout {
    @apply first:[&>div]:ml-4 last:[&>div]:mr-4 sm:first:[&>div]:ml-6 sm:last:[&>div]:mr-6 lg:first:[&>div]:ml-0 lg:last:[&>div]:mr-0;
    /* Avoid adding margin or padding directly to .keen-slider or .keen-slider__slide; it can cause Keen Slider to miscalculate layout. */
  }
  .carousel-px-content {
    @apply xs:first:[&>div]:ml-8 xs:last:[&>div]:mr-8 first:[&>div]:ml-4 last:[&>div]:mr-4 md:first:[&>div]:ml-12 md:last:[&>div]:mr-12 lg:first:[&>div]:ml-0 lg:last:[&>div]:mr-0;
  }
  .keen-slide-w-fit {
    @apply max-w-fit min-w-fit;
  }
  .carousel-btn {
    @apply bg-background/50 border-primary hover:bg-surface-2/50 absolute top-[40%] hidden h-16 w-12 -translate-y-1/2 items-center justify-center rounded-lg border transition duration-200 ease-in-out lg:flex;
  }
  .poster-grid {
    @apply grid grid-cols-[repeat(auto-fill,minmax(160px,160px))] items-stretch justify-center gap-x-2 gap-y-4 min-[375px]:gap-x-4 min-[375px]:gap-y-6 lg:grid-cols-[repeat(auto-fill,minmax(175px,175px))] lg:gap-y-8;
  }
  .footer-spacer {
    @apply: w-full;
    height: min(env(safe-area-inset-bottom, 0), 12px);
  }
  .badge {
    @apply border-surface-3 bg-surface-2 rounded-lg border;
  }
}

@layer utilities {
  .max-w-layout {
    max-width: 1440px;
  }
  .max-w-content {
    max-width: 1280px;
  }
  .mx-layout {
    @apply mx-4 sm:mx-6 lg:mx-8;
  }
  .mx-content {
    @apply xs:mx-8 mx-4 md:mx-12 lg:mx-16 xl:mx-18;
  }
  .px-layout {
    @apply px-4 sm:px-6 lg:px-8;
  }
  .px-content {
    @apply xs:px-8 px-4 md:px-12 lg:px-16 xl:px-18;
  }
  .show {
    @apply pointer-events-auto opacity-100;
  }
  .hide {
    @apply pointer-events-none opacity-0;
  }
  .heading {
    @apply relative text-lg leading-none font-semibold lg:text-xl;
  }
  .heading-bar {
    @apply after:bg-primary pl-4 after:absolute after:top-0 after:left-0 after:h-full after:w-1 after:rounded-xs;
  }
  .btn {
    @apply bg-background/50 hover:bg-surface-2/50 border-primary rounded-lg border px-3 py-2 transition-colors duration-200 ease-in-out;
  }
  .text-gradient {
    @apply from-highlight to-muted bg-linear-to-b bg-size-[100%_150%] bg-clip-text text-transparent;
  }
  .link-hover {
    @apply hover:text-highlight hover:decoration-primary underline decoration-transparent underline-offset-2 transition-colors duration-200 ease-in-out;
  }
  .media-hover {
    @apply transition-[filter] duration-200 ease-in-out hover:brightness-105 hover:contrast-105 hover:saturate-105;
  }
  .surface-glass {
    @apply bg-background/70 backdrop-blur-xs;
  }
  .surface-solid {
    @apply bg-background/95 backdrop-blur-sm;
  }
}

/* OverlayScrollbars */
.os-theme-custom {
  --os-size: 10px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-bg: transparent;
  --os-handle-border-radius: 5px;
  --os-handle-bg: rgba(221, 221, 221, 0.5);
  --os-handle-bg-hover: rgba(221, 221, 221, 0.7);
  --os-handle-bg-active: rgba(221, 221, 221, 0.7);
  --os-handle-perpendicular-size-hover: 125%;
  --os-handle-perpendicular-size-active: 125%;
  --os-handle-interactive-area-offset: 2px;
}
.os-scrollbar.os-scrollbar-auto-hide-hidden {
  transition-duration: 300ms;
}

.season-dropdown [data-overlayscrollbars-viewport] {
  overscroll-behavior: contain;
}
@media (min-width: 1024px) {
  .trailer-thumbnails [data-overlayscrollbars-viewport] {
    overscroll-behavior: contain;
  }
}
